<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div> 
    <div class="image-container" style="background: #1A2546;">
        <img class="image" [src]="page1" alt="My SVG Image">
    </div>
    <div class="image-container" style="background: #331F11;">
        <img class="image" [src]="page2" alt="My SVG Image">
    </div>
    <div class="image-container" style="background: #111D24;">
        <img class="image" [src]="page3" alt="My SVG Image">
    </div>
    <div class="image-container" style="background: #131621;">
        <img class="image" [src]="page4" alt="My SVG Image">
    </div>
    <div class="image-container">
        <img class="image" [src]="page5" alt="My SVG Image">
    </div>
    <div class="image-container">
        <img class="image" [src]="page6" alt="My SVG Image">
    </div>
    <div class="image-container">
        <img class="image" [src]="page7" alt="My SVG Image">
    </div>
</div>