* {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-page {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image {
  max-width: 100%;
  max-height: 50vh;
  position: relative;
  pointer-events: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;

}

.text-container {
  width: 20vw;
  max-width: 100%;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Clear Sans", sans-serif;
  font-weight: bold;
  line-height: 1;
  font-size: 5vh;
  color: rgb(155, 120, 107);
  padding-bottom: 1.5vh;
}

.subtitle {
  font-family: "DM Sans", sans-serif;
  line-height: 1;
  font-size: 3vh;
  color: rgb(224, 187, 174);
  padding-bottom: 5vh;
}

.custom-button {
  font-family: "DM Sans", sans-serif;
  width: 20vh;
  height: 5vh;
  background: #31486E;
  color: rgb(224, 187, 174);
  font-size: 1.7vh;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container-page {
    height: 200px;
  }

  .image {
    height: 200px;
  }

  .text-container {
    .title {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .subtitle {
      font-size: 11px;
      padding-bottom: 20px;
    }

    .custom-button {
      width: 85px;
      height: 19px;
      font-size: 9px;
    }
  }
}
