.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    /* Impedisce il menu di contesto su dispositivi iOS */
    -webkit-user-select: none;
    /* Impedisce il menu di contesto su browser WebKit come Chrome e Safari */
    -khtml-user-select: none;
    /* Impedisce il menu di contesto su browser come Konqueror */
    -moz-user-select: none;
    /* Impedisce il menu di contesto su Firefox */
    -ms-user-select: none;
    /* Impedisce il menu di contesto su Internet Explorer / Edge */
    user-select: none;
    /* Impedisce il menu di contesto su altri browser */
}

.image {
    width: 100%;
    pointer-events: none;
    /* Impedisce gli eventi del mouse sulla tua immagine */
    user-drag: none;
    /* Impedisce il trascinamento dell'immagine (solo per alcuni browser) */
    -moz-user-select: none;
    /* Impedisce il trascinamento dell'immagine (per Firefox) */
    -webkit-user-drag: none;
    /* Impedisce il trascinamento dell'immagine (per browser WebKit come Chrome e Safari) */
}

.mobile {
    height: 100%;
}

.computer {
    height: 700px;
}

@media (max-height: 700px) {
    .image {
        height: 100%;
        /* Resetta l'altezza per adattarsi al ridimensionamento */
    }
}