@import "src/styles.css";

.page {
    background: #222930;
}

.image {
    transform: scale(1.4);
}

.title {
    color: rgb(155, 120, 107);
    font-size: 4vh;
}

.subtitle {
    color: rgb(224, 187, 174);
    font-size: 2.5vh;
}

.custom-button {
    color: rgb(224, 187, 174);
    background: #31486E;
    width: 18vh;
    height: 3.5vh;
    font-size: 1.2vh;
    text-decoration-line: underline;
}

@media (max-width: 1400px) {
    .container-page {
        height: 200px;
    }

    .image {
        height: 200px;
    }

    .text-container {
        .title {
            font-size: 18px;
            padding-bottom: 10px;
        }

        .subtitle {
            font-size: 11px;
            padding-bottom: 20px;
        }

        .custom-button {
            width: 85px;
            height: 19px;
            font-size: 9px;
        }
    }
}