@import "src/styles.css";

.separator{
  width: 7vw;
}

.container-page {
}

.page {
  background: #4E321B;
}

.image {
  transform: scale(1);
}

.text-container {
  width: 30vw;
  position: absolute;
  top: 25%;
}

.title {
  align-self: baseline;
  color: #BD895F;
  font-size: 5vh;
}

.subtitle {
  color: #AE8A7C;
  font-size: 2vh;
  text-align: left;
}

.custom-button {
  background: #29190E;
  color: #AE8A7C;
  width: 25vh;
  height: 5vh;
  font-size: 1.7vh;
  align-self: baseline;
}

@media (max-width: 1400px) {
  .separator{
    width: 10vw;
  }

  .container-page {
    height: 200px;
  }

  .image {
    height: 200px;
  }


  .text-container {
    top: 15%;
    .title {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .subtitle {
      font-size: 11px;
      padding-bottom: 20px;
    }

    .custom-button {
      width: 85px;
      height: 19px;
      font-size: 9px;
    }
  }
}