@import "src/styles.css";

.page {
  background: #4E321B;
}

.image {
  transform: scale(1.1);
}

.text-container {
  margin-left: 10vw;
  justify-content: left;
  align-items: left;
  text-align: left;
  width: 40vw;
}

.title {
  align-self: left;
  color: #BD895F;
  font-size: 5vh;
}

.subtitle {
  color: #AE8A7C;
  font-size: 2vh;
}

.custom-button {
  background: #29190E;
  color: #AE8A7C;
  width: 25vh;
  height: 5vh;
  font-size: 1.7vh;
}

@media (max-width: 768px) {
  .container-page {
    height: 200px;
  }

  .image {
    position: absolute;
    margin-left: 20vw;
    height: 200px;
  }

  .text-container {
    position: absolute;
    margin-left: -40vw;
    .title {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .subtitle {
      font-size: 11px;
      padding-bottom: 20px;
    }

    .custom-button {
      width: 85px;
      height: 19px;
      font-size: 9px;
    }
  }
}