/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-page {
    gap: 10vw;
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image {
    max-width: 100%;
    max-height: 50vh;
    position: relative;
    pointer-events: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    opacity: 0.75;
}

.text-container {
    width: 20vw;
    max-width: 100%;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-family: "Clear Sans", sans-serif;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 1.5vh;
}

.subtitle {
    font-family: "DM Sans", sans-serif;
    line-height: 1;
    padding-bottom: 5vh;
}

.custom-button {
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    text-decoration-line: underline;
}

body::-webkit-scrollbar {
    display: none;
}
